doctype html
html(ng-app='conferenceApp')
    head
        script(type='', src='/bower_components/jquery/dist/jquery.min.js')
        link(type='text/css', rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
        script(type='', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script( src='/bower_components/angular/angular.min.js')
        script( src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
        script( src='/bower_components/angular-resource/angular-resource.min.js')
        script( src='/javascripts/conference/app.js')
        script( src='/javascripts/conference/services.js')
        script( src='/javascripts/conference/directives.js')
        script( src='/javascripts/conference/filters.js')

        script( src='/javascripts/erizo.js')
        //script( src='/bower_components/socket.io-client/socket.io.js')

        title Conference room
    body(ng-controller='ConferenceCtrl')
        .container
            include ./navbar.jade
            //.col-md-8.col-md-offset-2(style='border-width: 0px 1px; border-color: #004444;border-style: solid')
            h1 #{room.name}
            if room.data
                h4(style="color: #777") #{room.data.description}
            script.
                room = !{JSON.stringify(room)}
                user = {}

            if user
                script.
                    user.name = '#{user.username}'
                    user.isAdmin = '#{user.admin}'
                    user._id = '#{user._id}'
                    user.linkedIn = '#{user.linkedIn}'
                    user.info = '#{user.info}'
                    user.siteURL = '#{user.siteURL}'

            .row(style='margin-top: 50px')
                .col-md-4(style="height: 100%; border-right: 1px solid #EEE; padding-right: 30px")
                    if user
                        #myVideo.row(style='height: 220px; margin-bottom: 10px')
                    if user
                        button.btn.btn-success.btn-block(style='margin:10px 0 20px 0',ng-disabled='!muteControl.isButtonEnabled', ng-show='roomOptions.MUTECONTROL && !userOptions.hasPrivileges' ng-click='muteControl.requestToSpeak()') Request To Speak
                    if room.data.chat
                        #chat.row
                            #chatHeader
                                h3 Chat
                            chat-body(messages='chat.messages')
                            if user
                                div(ng-show='userOptions.canChat')
                                    input#messageText.form-control(type='text',ng-disabled='!userOptions.enableChat',ng-model='msgText' ng-enter ='chat.enterPressed()' placeholder='Enter your message...')

                .col-md-8
                    div.remoteStream(ng-repeat='stream in streams' ng-class='stream.streamStatus')
                        div(id='{{stream.getID()}}' )
                        div.text-center
                            div.streamerName {{stream.customData.name}}
                            div.btn-toolbar(role='toolbar', aria-label='' )
                                div.btn-group.center(role='group', aria-label="", style='margin-left:10px')
                                    button.btn.btn-sm.btn-primary(popover-placement="bottom",popover-title='Info:', popover-trigger='focus', popover="{{stream.customData.info}}", )
                                        span.glyphicon.glyphicon-info-sign(aria-hidden='true')
                                    button.btn.btn-sm.btn-primary(popover-placement="bottom",popover-title='Linked In:', popover-trigger='focus',  popover="<a href='{{stream.customData.linkedIn}}' target='_blank'>{{stream.customData.linkedIn}}</a>")
                                        b L
                                    button.btn.btn-sm.btn-primary(popover-placement="bottom",popover-title='Website:', popover-trigger='focus',  popover="<a href='{{stream.customData.siteURL}}' target='_blank'>{{stream.customData.siteURL}}</a>")
                                        b W
                                div.btn-group.pull-right(role='group', aria-label="", style='margin-right:10px')
                                    button.btn.btn-default.mutable-button(ng-disabled='stream.customData.isAdmin || stream.customData._id == roomOptions.MODERATOR || !userOptions.hasPrivileges', ng-show='roomOptions.MUTECONTROL' ng-click='muteControl.setMute(stream)')
                                        span.glyphicon.glyphicon-volume-off(aria-hidden='true' ng-show='stream.streamStatus != "speaks"')
                                        span.glyphicon.glyphicon-volume-up(aria-hidden='true' ng-show='stream.streamStatus == "speaks"')
                                span.label.label-danger.pull-right(ng-show='stream.customData.isAdmin') A
                                span.label.label-danger.pull-right(ng-show='stream.customData._id == roomOptions.MODERATOR') M
