//- includes/head.jade
head
  title Conference App
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
  script(type='application/javascript', src='/bower_components/jquery/dist/jquery.js')
  script(type='application/javascript', src='/bower_components/jquery-validation/dist/jquery.validate.js')
  script(type='application/javascript', src='/bower_components/jquery-validation/dist/additional-methods.min.js')
  script(type='application/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(type='application/javascript', src='/javascripts/validationRegister.js')
  script(type='application/javascript', src='/javascripts/validationUpdate.js')
  link(href='/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')


