doctype html
html
  include ./head.jade
  body
    .container
      include ./navbar.jade
      div
        p Home page.
        p While application is running in test mode, there's available admin account.
        p
          span username:
          b  admin
          span  password:
          b  licodeAdmin
        p You can easily create an account and create/join any conference!

