html
    include ./head.jade
    script( src='/bower_components/angular/angular.min.js')
    body
        .container
            include ./navbar.jade
            .row
                .col-md-8.col-md-offset-2(ng-app='')
                    h1.text-center.text-info(style='padding: 50px 0px 0px 0px') Log In
                    if message
                        h4.text-center.text-danger #{message}
                    form#lf.form-horizontal(role='form', name='loginForm' ,method='post', action='/auth/login' )
                        .form-group.login-inputs
                            label.col-sm-2.control-label(for='user') Username
                            .col-sm-10
                                input#user.form-control(type='text', placeholder='Username', name='username', ng-model='userName', ng-required='true')
                        .form-group.login-inputs
                            label.col-sm-2.control-label(for='pass') Password
                            .col-sm-10
                                input#pass.form-control(type='password', placeholder='Password, 6-symbols min.',ng-model='password' name='password', ng-required='true', ng-minlength='6')
                        .form-group
                            .col-sm-offset-2.col-sm-10
                                button.btn.btn-default.button-login(type='submit' ng-disabled='loginForm.$invalid') Login!
                                label.has-error