nav.navbar.navbar-default(role='navigation')
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Home
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='/rooms')
            | Rooms
        if !user
          li
            a(href='/register') Register
        else
          li
            a(href='/user/#{user._id}') Edit My Profile
      ul.nav.navbar-nav.navbar-right
        if user
          li
            a Hi, #{user.username}!
        if user
          li
            a(href='/auth/logout') Logout
        else
          li
            a(href='/login') Login