doctype html
html
  include ./head.jade
  body
    .container
      include ./navbar.jade
      .row
        .col-md-8.col-md-offset-2
          h1.text-center.text-info(style='padding: 50px 0px') Sign Up
          form#registrForm.form-horizontal(role='form', method='post', action='')
            .form-group.login-inputs
              label.col-sm-4.control-label(for='username') Username*:
              .col-sm-8
                input#username.form-control(type='text', value='', placeholder='Username', name='username')
            .form-group.login-inputs
              label.col-sm-4.control-label(for='password') Password*:
              .col-sm-8
                input#password.form-control(type='password', value='', placeholder='Password', name='password')
            .form-group.login-inputs
              label.col-sm-4.control-label(for='confirmPassword') Confirm password*:
              .col-sm-8
                input#confirmPassword.form-control(type='password', value='', placeholder='Confirm password', name='confirmPassword')
            .form-group.login-inputs
              label.col-sm-4.control-label(for='email') E-mail:
              .col-sm-8
                input#email.form-control(type='text', value='', placeholder='Email', name='email')
            .form-group.login-inputs
              label.col-sm-4.control-label(for='info') Info:
              .col-sm-8
                textarea#info.form-control(type='text', value='', placeholder='info', name='info')
            .form-group.login-inputs
              label.col-sm-4.control-label(for='linkedIn') Linked In:
              .col-sm-8
                input#linkedIn.form-control(type='text', value='', placeholder='Linked In url', name='linkedIn')
            .form-group.login-inputs
              label.col-sm-4.control-label(for='siteURL') Your site URL:
              .col-sm-8
                input#siteURL.form-control(type='text', value='', placeholder='Your site URL', name='siteURL')
            .form-group
              .col-sm-offset-4.col-sm-8
                button.btn.btn-default.button-login(type='submit') Register
          p#errorRegister
