doctype html
html(ng-app='roomsApp')
    head
        script(type='', src='/bower_components/jquery/dist/jquery.min.js')
        link(type='text/css', rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        script(type='', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script( src='/bower_components/angular/angular.min.js')
        script( src='/bower_components/angular-resource/angular-resource.min.js')
        script( src='/javascripts/roomList/app.js')
        script( src='/javascripts/roomList/services.js')
        link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
        title Rooms
        if user
            script.
                user = {};
                user.isAdmin = '#{user.admin}'
                user._id = '#{user._id}'

    body(ng-controller='RoomListCtrl')
        .container
            include ./navbar.jade
            .col-md-8.col-md-offset-2
                .row
                    .col-md-10
                        h1 Rooms
                    // <div class="col-md-2" >
                    // <input type="text" placeholder="Name of new room.." style="margin-top: 20px" ng-model="newRoomName" class="pull-right form-control" >
                    //
                    // </div>
                    .col-md-2
                        if user
                            button.btn.btn-primary.pull-right(type='button', style='margin-top: 20px', data-toggle='modal', data-target='#myModal') Create a new room
                        // Modal
                        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal')
                                            span(aria-hidden='true') &times;
                                            span.sr-only Close
                                        h4#myModalLabel.modal-title Creating a new room
                                    .modal-body
                                        form.form-horizontal(role='form')
                                            .form-group
                                                label.col-sm-2.control-label(for='inputName') Name
                                                .col-sm-10
                                                    input#inputName.form-control(type='text',ng-model='roomName' placeholder='Room name')
                                            .form-group
                                                label.col-sm-2.control-label(for='inputDescription') Description
                                                .col-sm-10
                                                    textarea#inputDescription.form-control(placeholder='Description', ng-model='roomDescription')
                                            .form-group
                                                label.col-sm-2.control-label(for='inputPassword') Password (optional)
                                                .col-sm-10
                                                    input#inputPassword.form-control(type='password', placeholder='Password', ng-model='roomPassword')
                                            .form-group
                                                label.col-sm-2.control-label(for='inputBW') Bandwidth (admin)
                                                .col-sm-10
                                                    .row
                                                        .col-sm-1 300
                                                        .col-sm-9
                                                            input#inputBW(type='range', min='300', max='1000', step='50', value='700', ng-model='adminBW')
                                                        .col-sm-1 1000
                                                    .row
                                                        .col-sm-10.text-center
                                                            b {{adminBW}}
                                            .form-group
                                                label.col-sm-2.control-label(for='inputUserBW') Bandwidth (users)
                                                .col-sm-10
                                                    .row
                                                        .col-sm-1 500
                                                        .col-sm-9
                                                            input#inputUserBW(type='range', min='500', max='2000', step='50', value='700', ng-model='userBW')
                                                        .col-sm-1 2000
                                                    .row
                                                        .col-sm-10.text-center
                                                            b {{userBW}}
                                            .form-group
                                                label.col-sm-2.control-label(for='numOfUsers') Number of users
                                                .col-sm-10
                                                    .row
                                                        .col-sm-1 2
                                                        .col-sm-9
                                                            input#numOfUsers(type='range', min='2', max='10', step='1', value='4', ng-model='numOfUsers')
                                                        .col-sm-1 10
                                                    .row
                                                        .col-sm-10.text-center
                                                            b {{numOfUsers}}
                                            .form-group
                                                label.col-sm-2.control-label(for='muteControl') MuteControl
                                                .col-sm-10
                                                    input#muteControl(type='checkbox', ng-model='muteControl')
                                            .form-group
                                                label.col-sm-2.control-label(for='chat') Chat
                                                .col-sm-10
                                                    input#chat(type='checkbox', ng-model='chat')
                                    .modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                                        button.btn.btn-primary(type='button' ng-click='createRoom()') Create room
                        // <button class="btn btn-primary pull-right" style="margin-top: 20px" ng-click="createRoom()">Create a new room</button>
                .row.roomEl(ng-repeat='room in rooms')
                    p.lead
                        span {{room.name}}
                        a.btn.btn-success.pull-right(href='/rooms/{{room._id}}', style='margin-left:20px' ) Join
                        a.btn.btn-warning.pull-right.disabled(ng-show='room.data.hasPassword'  href='/rooms/{{room._id}}' )
                            span.glyphicon.glyphicon-lock(aria-hidden="true")

                    p {{room.data.description}}
