doctype html
html(ng-app='conferenceApp')
    head
        script(type='', src='/bower_components/jquery/dist/jquery.min.js')
        link(type='text/css', rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
        script(type='', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script( src='/javascripts/roomEntry.js')
        title Room Entry
    body
        .container
            include ./navbar.jade
            div.col-md-6.col-md-offset-3
                div.lead.text-center Enter the password for the room
                    b.text-info  #{room.name}
                    span :
                div.text-center
                    form#enterForm(method='POST', action='/rooms/#{room._id}')
                        input#password.form-control(type='password', name='pw')
                        input#enter.btn-lg.btn-primary(style='margin-top: 20px', type='submit', value='Enter the room')
                        p(style='margin-top: 10px')
                            label#error.text-danger #{error}



