doctype html
html
  include ./head.jade
  body
    .container
      include ./navbar.jade
      form#userForm.form(method='post', action='', role='form')
        .form-group
          label(for='username') Username
          input#username.form-control(type='text' disabled='disabled', value='#{user.username}', placeholder='Username', name='username')
        .form-group
          label(for='password') Password
          input#password.form-control(type='password', value='', placeholder='Password', name='password')
        .form-group
          label(for='confirmPassword') Confirm password
          input#confirmPassword.form-control(type='password', value='', placeholder='Confirm password', name='confirmPassword')
        .form-group
          label(for='email') Email
          input#email.form-control(type='text', value='#{user.email}', placeholder='Email', name='email')
        .form-group
          label(for='linkedIn') Linked In url
          input#linkedIn.form-control(type='text', value='#{user.linkedIn}', placeholder='Linked In url', name='linkedIn')
        .form-group
          label(for='info') Info
          input#info.form-control(type='text', value='#{user.info}', placeholder='info', name='info')
        .form-group
          label(for='siteURL') Your site URL
          input#siteURL.form-control(type='text', value='#{user.siteURL}', placeholder='Your site URL', name='siteURL')
        button.btn.btn-default(type='submit') Update
        p#errorRegister
