body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chatBody {
  overflow-y: auto;
  border: 1px solid rgb(231, 231, 231);
  height:400px;
}

#chatHeader {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(231, 231, 231);
  border-radius: 8px 8px 0px 0px;
  padding-left: 10px;
  color: #777;
}
#chat {
  margin-bottom: 50px;
}

.roomEl {
  margin:10px;
  padding:15px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  color: #777;
  background-color: #f8f8f8;
}

.roomEl:hover {
  background-color: #e7e7e7;
}

.remoteStream {
  margin: 0px 20px 20px 0px;

  float:left;
  border: 2px solid #e7e7e7;
}

.remoteStream > div:first-of-type{
  width: 220px;
  height:220px;
  margin: 10px;
}

.remoteStream button {
  margin-bottom: 5px
}

.streamerName {
  font-size: 22px;
  color: #777;
}

.requested {
  border: 1px solid red !important;
}

.muted {
  border: 1px solid black !important;
}

.speaks {
  border: 1px solid lightgreen !important;
}